<ul class="nav flex-column nav-pills col-3 siteBar">
  <li class="nav-item">
    <a class="nav-link <%= page === 'home' ? 'active' : '' %>" href="./">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= page === 'features' ? 'active' : '' %>" href="./features">特徵</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= page === 'examples' ? 'active' : '' %>" href="./examples">範例</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= page === 'resources' ? 'active' : '' %>" href="./resources">來源</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= page === 'advantages' ? 'active' : '' %>" href="./advantages">優勢</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= page === 'suggestions' ? 'active' : '' %>" href="./suggestions">建議</a>
  </li>
</ul>